USE [master]
GO
/****** Object:  Database [Coffee]    Script Date: 12/06/2020 22:41:26 ******/
CREATE DATABASE [Coffee] ON  PRIMARY 
( NAME = N'Coffee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Coffee.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Coffee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Coffee_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Coffee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Coffee]
GO
/****** Object:  Table [dbo].[PHANLOAI_TAIKHOAN]    Script Date: 12/06/2020 22:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANLOAI_TAIKHOAN](
	[maLTK] [int] NOT NULL,
	[mota] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHANLOAI_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[maLTK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/06/2020 22:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[maNV] [nvarchar](30) NOT NULL,
	[tenNV] [nvarchar](50) NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
	[sdt] [nvarchar](10) NULL,
	[email] [nvarchar](30) NULL,
	[diaChi] [nvarchar](50) NULL,
	[hinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/06/2020 22:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[maNCC] [nvarchar](30) NOT NULL,
	[tenNCC] [nvarchar](500) NULL,
	[loaiSP] [nvarchar](50) NULL,
	[giaMua] [int] NULL,
	[diaChi] [nvarchar](500) NULL,
	[sdt] [nvarchar](10) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[maNCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/06/2020 22:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[maTK] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[maLTK] [int] NULL,
	[maNV] [nvarchar](30) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[maTK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLSANPHAM]    Script Date: 12/06/2020 22:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLSANPHAM](
	[maQLSP] [int] IDENTITY(1,1) NOT NULL,
	[maNCC] [nvarchar](30) NULL,
	[tenLoai] [nvarchar](50) NULL,
	[soLuong] [int] NULL,
	[tenSP] [nvarchar](30) NULL,
	[ngay] [date] NULL,
 CONSTRAINT [PK_QLSANPHAM] PRIMARY KEY CLUSTERED 
(
	[maQLSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/06/2020 22:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[maSP] [nvarchar](30) NOT NULL,
	[tenSP] [nvarchar](50) NULL,
	[maQLSP] [int] NULL,
	[giaBan] [int] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_FindMonthSoLuongChi]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindMonthSoLuongChi] (@Month nvarchar(30),@Year nvarchar(30))

AS
BEGIN
	SELECT DISTINCT QLSP.tenSP, QLSP.soLuong, QLSP.ngay
FROM SANPHAM SP JOIN QLSANPHAM QLSP
ON SP.maQLSP = SP.maQLSP
WHERE MONTH(QLSP.ngay)= @Month and YEAR(QLSP.ngay)=@Year
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FindMonthChi]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindMonthChi] (@Month nvarchar(30),@Year nvarchar(30))
AS
BEGIN
	SELECT 
SP.tenSP, QLSP.ngay, SP.giaBan
	FROM SANPHAM SP JOIN QLSANPHAM QLSP
	ON SP.maQLSP = QLSP.maQLSP
	WHERE MONTH(QLSP.ngay)= @Month and YEAR(QLSP.ngay)=@Year
	GROUP BY SP.tenSP, QLSP.ngay, SP.giaBan
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FindSoLuongChi_getTenSP]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindSoLuongChi_getTenSP] (@sp nvarchar(50))
AS
BEGIN
	SELECT DISTINCT QLSP.tenSP, QLSP.soLuong, QLSP.ngay
FROM SANPHAM SP JOIN QLSANPHAM QLSP
ON SP.maQLSP = SP.maQLSP
WHERE QLSP.tenSP = @sp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FindYearSoLuongChi]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindYearSoLuongChi] (@Year nvarchar(30))
AS
BEGIN
	
	SELECT DISTINCT QLSP.tenSP, QLSP.soLuong, QLSP.ngay
FROM SANPHAM SP JOIN QLSANPHAM QLSP
ON SP.maQLSP = SP.maQLSP
Where @Year = YEAR(QLSP.ngay)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FindYearChi]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindYearChi] (@Year nvarchar(30))
AS
BEGIN
	SELECT
SP.tenSP, QLSP.ngay, SP.giaBan
	FROM SANPHAM SP JOIN QLSANPHAM QLSP
	ON SP.maQLSP = QLSP.maQLSP
	Where @Year = YEAR(QLSP.ngay)
	GROUP BY SP.tenSP, QLSP.ngay, SP.giaBan
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectAllChi]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SelectAllChi]
AS
BEGIN
	SELECT SP.tenSP, QLSP.ngay, SP.giaBan
FROM SANPHAM SP JOIN QLSANPHAM QLSP
ON SP.maQLSP = QLSP.maQLSP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FindDayChi]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindDayChi] (@Day nvarchar(30),@Month nvarchar(30), @Year nvarchar(30))
AS
BEGIN
SELECT
SP.tenSP, QLSP.ngay, SP.giaBan
	FROM SANPHAM SP JOIN QLSANPHAM QLSP
	ON SP.maQLSP = QLSP.maQLSP
	WHERE DAY(QLSP.ngay)=@Day and MONTH(QLSP.ngay)=@Month and YEAR(QLSP.ngay)=@Year
	GROUP BY SP.tenSP, QLSP.ngay, SP.giaBan
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectSoLuongNhap]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SelectSoLuongNhap]

AS
BEGIN
select DISTINCT SP.tenSP, QLSP.soLuong, QLSP.ngay
from QLSANPHAM QLSP join SANPHAM SP
on QLSP.maQLSP = SP.maQLSP
END
GO
/****** Object:  Table [dbo].[HOADON_CHITIET]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON_CHITIET](
	[maHD] [nvarchar](30) NOT NULL,
	[tien] [float] NULL,
	[soLuong] [int] NULL,
	[maSP] [nvarchar](30) NULL,
 CONSTRAINT [PK_HOADON_CHITIET_1] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[maHD] [nvarchar](30) NOT NULL,
	[ngayLap] [date] NULL,
	[maNV] [nvarchar](30) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectTopSL]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SelectTopSL]
as
BEGIN

	select SP.tenSP, sum(HDCT.soLuong) as Tong, HDCT.tien
from HOADON HD JOIN HOADON_CHITIET HDCT
ON HD.maHD = HDCT.maHD JOIN SANPHAM SP
ON SP.maSP = HDCT.maSP
GROUP BY SP.tenSP,HDCT.tien
ORDER BY Tong DESC

END
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectSoLuongBanRa]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SelectSoLuongBanRa]
AS
BEGIN
	select DISTINCT SP.tenSP, HDCT.soLuong, HD.ngayLap
from HOADON_CHITIET HDCT join HOADON HD 
on HDCT.maHD = HD.maHD join SANPHAM SP on HDCT.maSP = SP.maSP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectAllDoanhThu]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SelectAllDoanhThu]
AS BEGIN
	SELECT SP.tenSP,HD.ngayLap, HDCT.tien
from HOADON HD join HOADON_CHITIET HDCT
on HD.maHD = HDCT.maHD join SANPHAM SP on HDCT.maSP = SP.maSP
GROUP BY SP.tenSP,HD.ngayLap, HDCT.tien
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FindYearThu]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindYearThu] (@Year nvarchar(30))
	
AS
BEGIN
SELECT
	
	SP.tenSP, HD.ngayLap, HDCT.tien
	FROM HOADON HD JOIN HOADON_CHITIET HDCT
	ON HD.maHD = HDCT.maHD join SANPHAM SP on HDCT.maSP = SP.maSP
	Where @Year = YEAR(HD.ngayLap)
	GROUP BY SP.tenSP, HD.ngayLap, HDCT.tien
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FindYearSoLuongThu]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindYearSoLuongThu] (@Year nvarchar(30))
AS
BEGIN
	SELECT DISTINCT SP.tenSP, HDCT.soLuong, HD.ngayLap
FROM HOADON HD JOIN HOADON_CHITIET HDCT
ON HD.maHD = HDCT.maHD JOIN SANPHAM SP
ON HDCT.maSP = SP.maSP
WHERE @Year = YEAR(HD.ngayLap)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FindSoLuongThu_getTenSP]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindSoLuongThu_getTenSP] (@sp nvarchar(50))
AS
BEGIN
	select SP.tenSP, HDCT.soLuong, HD.ngayLap
from HOADON HD JOIN HOADON_CHITIET HDCT
on HD.maHD = HDCT.maHD JOIN SANPHAM SP
ON HDCT.maSP = SP.maSP
where SP.tenSP = @sp
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FindMonthThu]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindMonthThu] (@Month nvarchar(30),@Year nvarchar(30))
AS
BEGIN
	SELECT 
SP.tenSP, HD.ngayLap, HDCT.tien
	FROM HOADON HD JOIN HOADON_CHITIET HDCT
	ON HD.maHD = HDCT.maHD join SANPHAM SP on HDCT.maSP = SP.maSP
	WHERE MONTH(HD.ngayLap)= @Month and YEAR(HD.ngayLap)=@Year
	GROUP BY SP.tenSP, HD.ngayLap, HDCT.tien
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FindMonthSoLuongThu]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindMonthSoLuongThu] (@Month nvarchar(30),@Year nvarchar(30))

AS
BEGIN
	select DISTINCT SP.tenSP, HDCT.soLuong, HD.ngayLap
from HOADON HD JOIN HOADON_CHITIET HDCT
on HD.maHD = HDCT.maHD JOIN SANPHAM SP
ON HDCT.maSP = SP.maSP
WHERE MONTH(HD.ngayLap)= @Month and YEAR(HD.ngayLap)=@Year
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FindDayThu]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FindDayThu] (@Day nvarchar(30),@Month nvarchar(30), @Year nvarchar(30))
AS
BEGIN
SELECT
	SP.tenSP, HD.ngayLap, HDCT.tien
	FROM HOADON HD JOIN HOADON_CHITIET HDCT
	ON HD.maHD = HDCT.maHD join SANPHAM SP on HDCT.maSP = SP.maSP
	WHERE DAY(HD.ngayLap)=@Day and MONTH(HD.ngayLap)=@Month and YEAR(HD.ngayLap)=@Year
	GROUP BY SP.tenSP, HD.ngayLap, HDCT.tien
END
GO
/****** Object:  Table [dbo].[HD_CT]    Script Date: 12/06/2020 22:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HD_CT](
	[maHD] [nvarchar](30) NOT NULL,
	[maSP] [nvarchar](30) NOT NULL,
	[soLuong] [int] NULL,
	[tien] [int] NULL,
 CONSTRAINT [PK_HD_CT] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_TAIKHOAN_NHANVIEN]    Script Date: 12/06/2020 22:41:27 ******/
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([maNV])
REFERENCES [dbo].[NHANVIEN] ([maNV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_TAIKHOAN_PHANLOAI_TAIKHOAN]    Script Date: 12/06/2020 22:41:27 ******/
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_PHANLOAI_TAIKHOAN] FOREIGN KEY([maLTK])
REFERENCES [dbo].[PHANLOAI_TAIKHOAN] ([maLTK])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_PHANLOAI_TAIKHOAN]
GO
/****** Object:  ForeignKey [FK_QLSANPHAM_NHACUNGCAP]    Script Date: 12/06/2020 22:41:27 ******/
ALTER TABLE [dbo].[QLSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_QLSANPHAM_NHACUNGCAP] FOREIGN KEY([maNCC])
REFERENCES [dbo].[NHACUNGCAP] ([maNCC])
GO
ALTER TABLE [dbo].[QLSANPHAM] CHECK CONSTRAINT [FK_QLSANPHAM_NHACUNGCAP]
GO
/****** Object:  ForeignKey [FK_SANPHAM_QLSANPHAM]    Script Date: 12/06/2020 22:41:27 ******/
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_QLSANPHAM] FOREIGN KEY([maQLSP])
REFERENCES [dbo].[QLSANPHAM] ([maQLSP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_QLSANPHAM]
GO
/****** Object:  ForeignKey [FK_HOADON_CHITIET_SANPHAM]    Script Date: 12/06/2020 22:41:30 ******/
ALTER TABLE [dbo].[HOADON_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_CHITIET_SANPHAM] FOREIGN KEY([maSP])
REFERENCES [dbo].[SANPHAM] ([maSP])
GO
ALTER TABLE [dbo].[HOADON_CHITIET] CHECK CONSTRAINT [FK_HOADON_CHITIET_SANPHAM]
GO
/****** Object:  ForeignKey [FK_HOADON_HOADON_CHITIET]    Script Date: 12/06/2020 22:41:30 ******/
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_HOADON_CHITIET] FOREIGN KEY([maHD])
REFERENCES [dbo].[HOADON_CHITIET] ([maHD])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_HOADON_CHITIET]
GO
/****** Object:  ForeignKey [FK_HOADON_NHANVIEN]    Script Date: 12/06/2020 22:41:30 ******/
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([maNV])
REFERENCES [dbo].[NHANVIEN] ([maNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_HD_CT_HOADON]    Script Date: 12/06/2020 22:41:30 ******/
ALTER TABLE [dbo].[HD_CT]  WITH CHECK ADD  CONSTRAINT [FK_HD_CT_HOADON] FOREIGN KEY([maHD])
REFERENCES [dbo].[HOADON] ([maHD])
GO
ALTER TABLE [dbo].[HD_CT] CHECK CONSTRAINT [FK_HD_CT_HOADON]
GO
/****** Object:  ForeignKey [FK_HD_CT_SANPHAM]    Script Date: 12/06/2020 22:41:30 ******/
ALTER TABLE [dbo].[HD_CT]  WITH CHECK ADD  CONSTRAINT [FK_HD_CT_SANPHAM] FOREIGN KEY([maSP])
REFERENCES [dbo].[SANPHAM] ([maSP])
GO
ALTER TABLE [dbo].[HD_CT] CHECK CONSTRAINT [FK_HD_CT_SANPHAM]
GO
